{
	"arfile" : "sample-",
	"sftpuser" : "",
	"sftpip" : "10.123.01.02",
	"dbname" : "DB1",
	"dbusername" : "user",
	"dbpasswd" : "user123",
	"dbhost" : "10.201.10.222",
	"dbport" : "22",
	"HOME" : "/home/folder",
	"SFTP_PATH" : "/home/foldersftp_files/" ,
	"API_ENDPOINT" : "",
	"API_IP" : "10.123.45.678:8080",
	"MAILBOX_HOST": "imap.gmail.com",
	"MAILBOX_USER": "yourEmail@gmail.com",
	"MAILBOX_PASS": "password",
	"UC14_IN_PATH" : "C:\\Workspace02\\GetOriginalMail",
	"rpaInbox" : "Inbox",
	"rpaClosed" : "Closed"
}
